<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ForgotPassword - StyleHub</title>
  <!-- Link external CSS -->
  <link rel="stylesheet" href="forgotpassword.component.css">
</head>
<body>

  <div class="login-container">
  <h2>Welcome Back 👋</h2>
  <h4>OTP sent on your Email</h4>

  <form (ngSubmit)="onGenerateOtp()">
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
    <button type="submit" class="btn">Generate OTP</button>
  </form>

  <div *ngIf="successMessage" style="color: green;">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" style="color: red;">
    {{ errorMessage }}
  </div>
</div>


</body>
</html>
